<div id="wrap">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="active item">
                <img src="" />
                <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">111111</a> -->
            </div>
            <div class="item">
                <img src="" />
                <!-- <a class="carousel-control right" href="#myCarousel" data-slide="next">22222</a> -->
            </div>
            <div class="item">
                <img src="" />
                <!-- <a class="carousel-control bottom" href="#myCarousel" data-slide="prev">33333</a> -->
            </div>
        </div>
    </div>
    <section class="container-fluid" id="section-top">
        <div class="row">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="" alt="" style="padding-right:0.02rem">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="" alt=""  style="padding-left:0.02rem">
        </div>
    </section>
</div>
